
/* css */

@media (max-width: 1500px) {
  .container {
    background-color: #ffd502;
    padding-left: 4.2%;
    padding-right: 0px;
  }

  .col-lg-3, .col-lg-4, .col-lg-5{
    font-size: 22px;
  }

  .col-lg-3 {
  }

  .col-lg-4 {
    text-align: right;
  }

  .ticketText {
    text-align: left;
  }

  .col-lg-7 {
    font-size: 95px;
  }

  .art {
    float: right;
  }

  .emptyspace {
    height: 150px;
  }

  .smEmptySpace {
    height: 50px;
  }
}


@media (max-width: 991.98px) {
  .container {
    background-color: #ffd502;
    padding-left: 4.2%;
    padding-right: 0px;
  }

  .col-md-2{
    font-size: 22px;
  }

  .col-md-3 {
  }

  .col-md-4 {
    text-align: right;
  }

  .ticketText {
    text-align: left;
  }

  .col-md-7 {
    font-size: 95px;
  }

  .art {
    float: right;
    scale: 0.5;
  }

  .emptyspace {
    height: 150px;
  }

  .smEmptySpace {
    height: 50px;
  }
}

@media (max-width: 767.98px) {
  .container {
    background-color: #ffd502;
    padding-left: 4.2%;
    padding-right: 0px;
  }

  .col-md-2{
    font-size: 22px;
  }

  .col-md-3 {
  }

  .col-md-4 {
    text-align: right;
  }

  .ticketText {
    text-align: left;
  }

  .col-md-7 {
    font-size: 95px;
  }

  .art {
    float: right;
    scale: 0.2;
  }

  .emptyspace {
    height: 150px;
  }

  .smEmptySpace {
    height: 50px;
  }
}

@media (max-width: 575.98px) {
  .container {
    background-color: #ffd502;
    padding-left: 4.2%;
    padding-right: 0px;
  }

  .col-md-2{
    font-size: 22px;
  }

  .col-md-3 {
  }

  .col-md-4 {
    text-align: right;
  }

  .ticketText {
    text-align: left;
  }

  .col-md-7 {
    font-size: 95px;
  }

  .art {
    float: right;
    scale: 0.2;
  }

  .emptyspace {
    height: 150px;
  }

  .smEmptySpace {
    height: 50px;
  }
}
